<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
    <!-- Head Fragment -->
    <head th:fragment="head">
        <title>Sneakers Society</title>
        <meta charset="UTF-8" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="#">
    </head>
<body>
    <!-- Header Fragment -->
    <header th:fragment="header" class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="logo.png" alt="Logo de la tienda">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="marcas.html">Marcas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="hombre.html">Hombre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mujer.html">Mujer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nino.html">Niño</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="estilos.html">Estilos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Footer Fragment -->
    <footer th:fragment="footer" class="bg-dark text-white py-3">
        <div class="container">
            <p>&copy; 2023 Tienda de Zapatos. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>