<!DOCTYPE html>
<html class="h-100"
      data-bs-theme="dark"
      lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head th:replace="layout/template :: head"></head>

  <body class="d-flex h-100 text-center text-white bg-dark overflow-hidden">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <header th:replace="layout/template :: header"></header>

        <!-- Formulario de Login -->
        <div class="container text-dark">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Iniciar Sesión</h5>
                    <form method="POST" th:action="@{/login}">
                      <div class="form-floating mb-3">
                        <input type="username" name="username" class="form-control" id="username" placeholder="user1">
                        <label for="floatingInput">Username</label>
                      </div>
                      <div class="form-floating mb-1">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div th:if="${param.error != null}" class="mb-3">
                        <div class="alert alert-danger" role="alert">
                          [[#{error.login}]]
                        </div>
                      </div>
            
                      <div class="d-grid mb-3 mt-3">
                        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                          Iniciar Sesión
                        </button>
                      </div>
                      <div class="d-grid mb-3">
                        <a th:href="@{/registro/recordar}" class="btn btn-google btn-login text-uppercase fw-bold">
                          Recordar credenciales
                        </a>
                      </div>
                      <hr>
                      <div class="d-grid">
                        <a th:href="@{/registro/nuevo}" class="btn btn-facebook btn-login text-uppercase fw-bold">
                          Registrarse
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <footer th:replace="layout/template :: footer"></footer>
    </div>
  </body>
</html>
